<style type="text/css">
	.email-body {
		font-family: Segoe UI;
		width: 600px;
		margin: 50px auto 0;
		box-shadow: 0px 0px 2px #888;
		-moz-box-shadow: 0px 0px 2px #888;
		-webkit-box-shadow: 0px 0px 2px #888;
		-ms-box-shadow: 0px 0px 2px #888;
		-o-box-shadow: 0px 0px 2px #888;
	}

	.m-0 {
		margin: 0px;
	}
  </style>

  <div class="email-body">
	  <h1>Hi, <%= name %></h1>
	  <p style="color:#5d5d5d; font-size:14px; margin-top:0; line-height:25px;">
		  Please use this OTP to proceed on the next screen on the app:
	  </p>
	  <p style="color:#5d5d5d; font-size:14px; margin-top:0; line-height:25px;">
		  OTP: <%= otp %>
	  </p>
	  <p style="color:#5d5d5d; font-size:14px; margin-top:0; line-height:25px;">
		  If you have any questions or concerns, feel free to contact us at
		  <span style="color: #FEF200; font-weight: 600;">support@lemonadestandapp.com</span>.
	  </p>

	  <div style="margin-bottom: 30px;">
		  <p style="color:#5d5d5d; font-size:14px; margin-top:0; line-height:25px;">
			  Thanks,<br />
			  <span style="color: #FEF200; font-weight: 600;">LemonadeStand App</span><br />
			  Automated message. Please do not reply.
		  </p>
	  </div>

	  <div style="background: #FEF200; padding: 0 20px; height: 40px; line-height: 40px;">
		  <span style="text-decoration: none; font-size: 14px; color: black;">
			  <strong>&copy; <%= year %>, LEMONADE STAND. All Rights Reserved.</strong>
		  </span>
	  </div>
  </div>
