<style type="text/css">
  
  .body{
    font-family:Segoe UI;
    width:600px; margin:50px auto 0;
    box-shadow:0px 0px 2px #888;
    -moz-box-shadow:0px 0px 2px #888; 
    -webkit-box-shadow:0px 0px 2px #888; 
    -ms-box-shadow:0px 0px 2px #888;
    -o-box-shadow:0px 0px 2px #888;
  }

  .m-0{
    margin:0px;
  }
</style>

<container>
  <row>
		<columns small="12">

		  <h1>Hi, <%= name %></h1>
		  <p style="padding: 0 20px 0px 0px;color: #461870;font-size: 16px;margin-top: 0;font-weight: 600; ">Welcome to the LemonadeStand. </p>
		  <p style="color:#5d5d5d; font-size:14px; margin-top:0;line-height: 25px;">Here is your OTP: <%= otp %>

     <p style="color:#5d5d5d; font-size:14px; margin-top:0;line-height: 25px;">If you have any
			questions or concern, feel free to contact us at <span
			   style="color: #461870;font-weight: 600;">support@lemonadestandapp.com </span>
		 </p>

		 <div style="margin-bottom:30px; ">
			<p style="color:#5d5d5d; font-size:14px; margin-top:0;line-height: 25px;">Thanks,<br /><span style="color: #461870;font-weight: 600;">LemonadeStand App</span><br /> Automated message. Please do not reply</p>
		 </div>
		 <div style="background: #d0227e;padding: 0 20px;height: 40px;line-height: 40px;">
			<span style="text-decoration:none; font-size:14px; color:white; ">&nbsp;&copy; 2023, LEMONADE STAND. All Rights Reserved.</span>
		 </div>
		</columns>
	  </row>
</container>