body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #001339;
}

a,
h1 {
  color: white;
}

h2 {
  color: white;
  font-weight: 100;
}